{{#extend "layout"}}
{{#content "main"}}


<div class="page-nav">
    <h1 class="page-nav__heading">
        Общая информация о БН
    </h1>
    <nav class="page-nav__links">
        <a href="#" class="page-nav__link">
            Места присутствия
        </a>
        <a href="#" class="page-nav__link active">
            Орг.структура
        </a>
        <a href="#" class="page-nav__link">
            Персонал
        </a>
        <a href="#" class="page-nav__link">
            Парк
        </a>
        <a href="#" class="page-nav__link">
            Пробег
        </a>
        <a href="#" class="page-nav__link">
            Финансовые показатели
        </a>
        <a href="#" class="page-nav__link">
            Затраты
        </a>
    </nav>
</div>


<section class="structure-detail">
    <div class="structure-detail__info">
        <div class="structure-detail__info-content">


            <h2 class="structure-detail__info-heading">
                Маркетинг и качество
            </h2>
            <div class="structure-detail__info-progress" style="--detail-progress: 0.37;">
                <div class="structure-detail__info-progress-rate">
                    35 / 13
                </div>
                <div class="structure-detail__info-progress-percent">
                    37%
                </div>
            </div>
        </div>
        <div class="structure-detail__info-person">
            <div class="structure-detail__info-person-name">
                Яровых А.Б.
            </div>
            <div class="structure-detail__info-person-image-container">
                <img src="img/person-detail.jpg" alt="" class="structure-detail__info-person-image">
            </div>
        </div>
    </div>
    <div class="structure-detail__accordions">
        <div class="structure-detail__accordion">
            <div class="structure-detail__accordion-btn">
                <div class="structure-detail__accordion-btn-content">
                    Отдел маркетинга

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="structure-detail__accordion-btn-progress" style="--percentage: 0.36;">
                    <div class="structure-detail__accordion-btn-progress-rate">
                        11 / 4
                    </div>
                    <div class="structure-detail__accordion-btn-progress-percent">
                        36%
                    </div>

                </div>
            </div>
            <div class="structure-detail__accordion-content">
                <div class="structure-detail__accordion-content-inner">
                    <div class="structure-detail__accordion-table">


                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        Руководитель отдела
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Менеджер продукта
                                    </th>
                                    <td>
                                        <em>2</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог
                                    </th>
                                    <td>
                                        <em>2</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Бренд-маркетолог
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог онлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог оффлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог соцсетей
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Администратор
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Видеограф
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="structure-detail__accordion">
            <div class="structure-detail__accordion-btn">
                <div class="structure-detail__accordion-btn-content">
                    Отдел развития бренда работодателя

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="structure-detail__accordion-btn-progress" style="--percentage: 0.33;">
                    <div class="structure-detail__accordion-btn-progress-rate">
                        3 / 1
                    </div>
                    <div class="structure-detail__accordion-btn-progress-percent">
                        33%
                    </div>

                </div>
            </div>
            <div class="structure-detail__accordion-content">
                <div class="structure-detail__accordion-content-inner">
                    <div class="structure-detail__accordion-table">


                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        Руководитель отдела
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Менеджер продукта
                                    </th>
                                    <td>
                                        <em>2</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог
                                    </th>
                                    <td>
                                        <em>2</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Бренд-маркетолог
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог онлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог оффлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог соцсетей
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Администратор
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Видеограф
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="structure-detail__accordion">
            <div class="structure-detail__accordion-btn">
                <div class="structure-detail__accordion-btn-content">
                    Контакт-центр

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="structure-detail__accordion-btn-progress" style="--percentage: 0.5;">
                    <div class="structure-detail__accordion-btn-progress-rate">
                        8 / 4
                    </div>
                    <div class="structure-detail__accordion-btn-progress-percent">
                        50%
                    </div>

                </div>
            </div>
            <div class="structure-detail__accordion-content">
                <div class="structure-detail__accordion-content-inner">
                    <div class="structure-detail__accordion-table">


                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        Руководитель отдела
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Менеджер продукта
                                    </th>
                                    <td>
                                        <em>2</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог
                                    </th>
                                    <td>
                                        <em>2</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Бренд-маркетолог
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог онлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог оффлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог соцсетей
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="structure-detail__accordion">
            <div class="structure-detail__accordion-btn">
                <div class="structure-detail__accordion-btn-content">
                    Отдел PR

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="structure-detail__accordion-btn-progress" style="--percentage: 0.33;">
                    <div class="structure-detail__accordion-btn-progress-rate">
                        3 / 1
                    </div>
                    <div class="structure-detail__accordion-btn-progress-percent">
                        33%
                    </div>

                </div>
            </div>
            <div class="structure-detail__accordion-content">
                <div class="structure-detail__accordion-content-inner">
                    <div class="structure-detail__accordion-table">


                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        Руководитель отдела
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Менеджер продукта
                                    </th>
                                    <td>
                                        <em>2</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог
                                    </th>
                                    <td>
                                        <em>2</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Бренд-маркетолог
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог онлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог оффлайн
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог соцсетей
                                    </th>
                                    <td>
                                        <em>1</em> / 0
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="structure-detail__accordion">
            <div class="structure-detail__accordion-btn">
                <div class="structure-detail__accordion-btn-content">
                    Отдел качества

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
                <div class="structure-detail__accordion-btn-progress" style="--percentage: 0.33;">
                    <div class="structure-detail__accordion-btn-progress-rate">
                        9 / 3
                    </div>
                    <div class="structure-detail__accordion-btn-progress-percent">
                        33%
                    </div>

                </div>
            </div>
            <div class="structure-detail__accordion-content">
                <div class="structure-detail__accordion-content-inner">
                    <div class="structure-detail__accordion-table">


                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        Руководитель отдела
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Менеджер продукта
                                    </th>
                                    <td>
                                        <em>2</em> / 1
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Маркетолог
                                    </th>
                                    <td>
                                        <em>2</em> / 0
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Бренд-маркетолог
                                    </th>
                                    <td>
                                        <em>1</em> / 1
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}