{{#extend "layout"}}
{{#content "main"}}


<div class="page-nav">
    <h1 class="page-nav__heading">
        Общая информация о БН
    </h1>
    <nav class="page-nav__links">
        <a href="#" class="page-nav__link">
            Места присутствия
        </a>
        <a href="#" class="page-nav__link active">
            Орг.структура
        </a>
        <a href="#" class="page-nav__link">
            Персонал
        </a>
        <a href="#" class="page-nav__link">
            Парк
        </a>
        <a href="#" class="page-nav__link">
            Пробег
        </a>
        <a href="#" class="page-nav__link">
            Финансовые показатели
        </a>
        <a href="#" class="page-nav__link">
            Затраты
        </a>
    </nav>
</div>


<section class="structure-info">
    <div class="structure-info__inner">


        <table>
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        план
                    </th>
                    <th>
                        факт
                    </th>
                    <th>
                        укомплектованность
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>
                            Всего сотрудников
                        </b>
                    </td>
                    <td>
                        <b>
                            7 706
                        </b>
                    </td>
                    <td>
                        <b>
                            5 112
                        </b>
                    </td>
                    <td>
                        <div class="structure-info__percentage" style="--info-percent: 0.66;">
                            <b>
                                66%
                            </b>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        АУП
                    </td>
                    <td>
                        444
                    </td>
                    <td>
                        228
                    </td>
                    <td>
                        <div class="structure-info__percentage" style="--info-percent: 0.51;">
                            51%
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Продавцы
                    </td>
                    <td>
                        700
                    </td>
                    <td>
                        280
                    </td>
                    <td>
                        <div class="structure-info__percentage" style="--info-percent: 0.40;">
                            40%
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Рабочие
                    </td>
                    <td>
                        6 562
                    </td>
                    <td>
                        4 604
                    </td>
                    <td>
                        <div class="structure-info__percentage" style="--info-percent: 0.40;">
                            40%
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<section class="structure-hierarchy">
    <div class="structure-hierarchy__inner">
        <div class="structure-hierarchy__root">
            <a href="#" class="structure-hierarchy__card structure-hierarchy__card--root">
                <div class="structure-hierarchy__card-content">


                    <div class="structure-hierarchy__card-role">
                        Генеральный директор
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Латыпов Р.Р.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/ceo.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>
                    <div class="structure-hierarchy__connection">

                    </div>
                </div>
            </a>
        </div>
        <div class="structure-hierarchy__grid">

            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Продажи и логистика
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Шайхулов Р.Р.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/1.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>

                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                </div>
                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.4;">
                    <div class="structure-hierarchy__card-progress-amount">
                        700 / 280
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        40%
                    </div>

                </div>

            </a>
            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Заместитель генерального директора
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Гоменюк А.А.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/2.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>

                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                    <div class="structure-hierarchy__connection-left"></div>
                </div>
                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 1;">
                    <div class="structure-hierarchy__card-progress-amount">
                        1 / 1
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        100%
                    </div>

                </div>
            </a>
            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Маркетинг и качество
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Яровых А.Б.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/3.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>

                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                    <div class="structure-hierarchy__connection-left"></div>
                </div>

                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.37;">
                    <div class="structure-hierarchy__card-progress-amount">
                        35 / 13
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        37%
                    </div>

                </div>
            </a>
            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Дирекцияпо закупкам ТЭК
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Ермаков С.В.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/4.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>
                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                    <div class="structure-hierarchy__connection-left"></div>
                </div>

                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.21;">
                    <div class="structure-hierarchy__card-progress-amount">
                        19 / 4
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        21%
                    </div>

                </div>
            </a>
            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Бизнес-анализ и контроль
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Ихсанова Р.В.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/5.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>

                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                    <div class="structure-hierarchy__connection-left"></div>
                </div>



                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.56">
                    <div class="structure-hierarchy__card-progress-amount">
                        16 / 9
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        56%
                    </div>

                </div>
            </a>
            <a href="#" class="structure-hierarchy__card">

                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Школа Делко
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Пышечкина Е.С
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/6.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>
                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                    <div class="structure-hierarchy__connection-left"></div>
                </div>

                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.48;">
                    <div class="structure-hierarchy__card-progress-amount">
                        29 / 14
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        48%
                    </div>

                </div>

            </a>
            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Развитие Делко
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Савенков О.И.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/7.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>


                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                    <div class="structure-hierarchy__connection-left"></div>
                </div>


                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.5;">
                    <div class="structure-hierarchy__card-progress-amount">
                        2 / 1
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        50%
                    </div>
                </div>
            </a>
            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Корпоративная защита и работа с персоналом
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Садриев А.И
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/8.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>


                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-left"></div>

                </div>


                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.35;">
                    <div class="structure-hierarchy__card-progress-amount">
                        20 / 7
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        35%
                    </div>
                </div>
            </a>
            <a href="#" class="structure-hierarchy__card" style="grid-column: 2 / span 2;">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Эксплуатация транспорта
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Кутилин Р.В.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/9.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>


                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-right"></div>
                    <div class="structure-hierarchy__connection-right-edge"></div>

                </div>


                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.7;">
                    <div class="structure-hierarchy__card-progress-amount">
                        6670 / 4665
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        70%
                    </div>
                </div>
            </a>
            <a href="#" class="structure-hierarchy__card">
                <div class="structure-hierarchy__card-content">
                    <div class="structure-hierarchy__card-role">
                        Техническое сопровождение
                    </div>
                    <div class="structure-hierarchy__card-name">
                        Смирнов В.В.
                    </div>
                    <div class="structure-hierarchy__card-image-container">
                        <img src="img/personel/10.jpg" alt="" class="structure-hierarchy__card-image">
                    </div>


                    <div class="structure-hierarchy__connection">

                    </div>
                    <div class="structure-hierarchy__connection-left"></div>

                </div>


                <div class="structure-hierarchy__card-progress" style="--hierarchy-progress: 0.7;">
                    <div class="structure-hierarchy__card-progress-amount">
                        212 / 116
                    </div>
                    <div class="structure-hierarchy__card-progress-percentage">
                        55%
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}