.main-nav {
    display: flex;
    flex-direction: column;
    
}

.main-nav__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 3.6rem;
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
    svg {
        width: 2.4rem;
        height: 2.4rem;
        margin: auto;
        display: block;
        fill: black;
        transition: fill .2s;

        &.icon-truck {
            width: 2.8rem;
        }

        &.icon-award {
            width: 2.6rem;
            height: 1.8rem;
        }

        &.icon-wrench {
            width: 2.2rem;
            height: 2.2rem;
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background: var(--primary-color);
        opacity: 0;
        transition: opacity .2s;
    }

    &.active {

        svg {
            fill: var(--primary-color);
        }
        &::before {
            opacity: 1;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}
